# SPDX-License-Identifier: Apache-2.0 OR GPL-2.0-or-later

name: build
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'
      - name: Run tests
        run: make test
      - name: Send coverage report to coveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
